*{
    
    margin: 0;
    font-family: League spartan;
    padding: 0;
    box-sizing: border-box;
    color: #474747;
    letter-spacing: .01875rem;
}

body{
    background: #F8F8F8;
    
}

#banner-img {
overflow: hidden;
background-image: url(Assets/Images/banner01.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.container {
    padding: 5px 10%;

    
}

.mainnav{
    display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
 padding: 10px 5%;

  
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
  
   
   
}

.navbar a {
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .01875rem;
    font-family: "work sans";

}

.logo {
    width: 100px;
    height: auto;

}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    
}

/*nav menu sticky*/

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #F8F8F8;
    z-index: 100;
    padding-bottom: 30px;
   
}

.hamburguer {
    display: none;
}

.bar {
    display: block;
    width: 30px;
    height: 2px;
    margin: 6px auto;
    background-color: #000;
}



/*banner title & text*/

.banner-text {
    margin-top: 50px;

   
}

.banner-text h2 {
    font-size:4.1rem ;
   padding-top: 120px;
    color: #000;
}

.banner-text p {
    margin-top: 10px;
    line-height: 2rem;
    font-size: 1.05rem;
    color: #333;
    padding-right: 40rem;
   font-family: "work sans";
 

  
  
}

.banner-button {
   border: none;
   background-color:#000;

   padding: 12px 60px;
    margin-top: 20px;
    
}

.banner-button:hover{
    background-color: #474747;
    
}

.banner-button a {
    color: #fff;
    text-decoration: none;
    font-size: .95rem;
    text-transform: uppercase;
    font-weight: 500;
   
    letter-spacing: 0.035rem; 

}





/*my social media links */

.my-social ul li {
    text-decoration: none;
    display: inline-block;
    margin-right: 40px;
    padding-top: 120px;
    padding-bottom: 30px;
}

.my-social ul li a {

    font-size: 1.1rem;
    line-height: 3rem;
    text-underline-offset: 0.3rem;
    color: #474747;
}

/*about me section*/

/*grid container*/

.about { grid-area: about; }
.empty-container{grid-area: empty;}
.skills{ grid-area: skills; }
.languages { grid-area: languages; }

.grid-container {
    display: grid;
    grid-template-columns: 300px 200px;
    grid-template-areas: "about about about about"
    "empty empty skills languages";
    background-color: #FEFEFE;
    gap: 50px;
    padding-top: 60px;
    padding-bottom: 80px;
  
  
}

/*about me*/

.about {
    padding: 5px 10% ;
    display: flex;
    
    
    
}


.about h1 {
    font-size: 5rem;
    padding-top: 10px;
    margin-right: 10px;
    color: #000;
    
}

.about p {
    flex:1;
    padding-left: 80px;
    padding-top: 18px;
    line-height: 1.7rem;
    font-weight: 400;
    font-size: 1.05rem;
    font-family: "work sans";
}

/*skills*/

.skills {
    display:flex;
    flex-direction: column;
    width: 100%;
    
 
    
}

h3 {
    font-size: 1.2rem;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.079rem;

    font-weight: 600;
}

h4 {
    font-weight: 400;
    font-size: 1.05rem;
}

.skill-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
   
}

.skill-bar {
    width: 55%;
    height: 20px;
    background-color: #BBB7B7;
}

.skill-level {
    height: 20px;
    background-color: #000;
} 

.skills ul li {
    list-style: none;
    color:green;
  
}

.skill-type {
    margin-left:0;
    padding-bottom: 10px;
}

/*languages*/

.languages{

    padding-left: 3%;
   

    
}

.languages ul li {
    list-style: none;
    padding-top: 6px;
   
}

.languages li {
    padding-bottom: 8px;

}

.lan-type {
    font-weight: 600;
    font-size: 1.09rem;
 
   
}

.lan-level {
    font-style: italic;
}

/*my projects*/



.quote p {
   font-size: 2rem;
   color: #333;
   text-align: left;
   padding: 9% 10%;
   height: 40vh;
   
}

.autor {
    
    color: #474747;
    font-size: 1.1rem;
    font-weight: 400;
    padding-top: 20px;

    
}


 /*number project*/

 .project-line {
padding-top: 50px;
    background-color: #FEFEFE;
 }

.number {
  position:relative;
 padding: 5px 10%;
  font-size: 10rem;
  font-weight: 200;
  color: #bbb8b8;


}



/*project 1 - The house of agness*/

.col-1 {grid-area: col-1;}
.col-2 {grid-area: col-2;}

.grid-projects {
    display: grid;
    grid-template-columns: 200px 300px;
    grid-template-areas: "col-1 col-1 col-2 col-2"
    "col-1 col-1 col-2 col-2";
   grid-gap: 50px;


  
}

.grid-projects {
    padding: 5px 10%;
    background-color: #FEFEFE;
}


.col-1 .sub-title {
    color: #777;
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: .098rem;
    padding-top: 5px;
}

h5 {
    font-size: 1.7rem;
    color: #000;
    font-family: "work sans";
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .11rem;
}

h6 {
    font-size: 1rem;
    color: #000;
    font-weight: 600;
    font-family: "work sans";
    text-transform: uppercase;
   
}


.col-2 img {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 40px;
   
}

.col-2 {
    padding-top: 50px;
 
}

.col-1 .progress {
    color: #838181;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: .13rem;
}

.col-1 p {
    font-size: 1.05rem;
    padding-top: 10px;
    line-height: 1.8rem;
    font-family: "work sans";
}



/*tools & tech*/
.col-1 ul li {
   list-style: none;
   display: inline-block;
   font-size: 1.2rem;
   padding-bottom: 40px;
   padding-top: 15px;
}

/*FOOTER*/

footer {
    background-color: #F8F8F8;
    padding-bottom: 30px;
    background-image: url(Assets/Images/footerBackground.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}


/*Contact form*/

.contact-form {
display: grid;
place-items: center;
padding-bottom: 60px;


}

.contact-form h2 {
    font-size: 3rem;
    color: #000;
    padding-top: 80px;
}

.contact-form h6 {
    font-weight: 400;
    color: #333;
    padding-bottom: 30px;
    font-size: 1rem;
    text-transform: none;
}


form {
    width: 35%;
 
    
}

form input{
    width: 100%;
    background-color: #fff;
    padding: 8px 12px;
    margin-bottom: 17px;
    height: 2.8rem;
    border: 1px solid #000;
    font-size: 1rem;
    
}

form textarea {
    width: 100%;
    background-color: #fff;
    padding: 8px 12px;
    margin-bottom: 20px;
    height: 150px;
    border: 1px solid #000;

}

input::placeholder, textarea::placeholder{
    font-family: "work sans";
    font-size: .9rem;
}


.contact-button {
height: 2.8rem;
 border: none;
 background-color: #000;
 width: 100%;
 color: #fff;
 text-transform: uppercase;
 font-size: 1rem;
 font-family: "work sans";
 letter-spacing: 0.035rem; 
 font-weight: 500;
    
}

/*SOCIAL ICONS FOOTER*/

.social-icons {
   
    list-style: none;
    display: flex;
    justify-content: center;
   
}


.fa-brands {
    color:#000;
    font-size: 24px;
    margin: 0 8px;
    text-decoration: none;
}

/*COPYRIGHT*/

.copyright {
    padding-top: 10px;
    text-align: center;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #474747;
}


/*MOBILE RESPONSIVE STYLE hamburguer menu*/

@media (min-width: 320px) and (max-width: 1024px){

    /*position fixed and right-100% hides the navbar*/

   

    .mainnav{
      
        background-color: #fff;
        height: 60px;
        overflow: hidden;
    }
    
       #navmenu{
        display: flex;
        position: fixed;
        right: -100%;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        top:4rem;
   
        border-radius: 10px;
            text-align: left;
            transition: right 0.3s;
            box-shadow:
                0 10px 27px rgba(0, 0, 0, 0.05);
               
                
       }
       
      #navmenu.active{
        right:0;
       }
    
       .nav-item{
        margin: 1.7rem 10%;
       }
    
     .navbar a{
        font-size: 1.1rem;
        font-weight: 400;
      
       }

       .navbar a:hover{

       color:#000;
       }
    
       .logo {
    width: 20%;
    
    
       }
    
       .hamburguer {
        display: block; /*display block the hamburguer menu is visible*/
        cursor: pointer;
       }
    
       .hamburguer.active .bar:nth-child(2){ /* X animation */
        opacity: 0;
       }
    
       .hamburguer.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
       }
    
       .hamburguer.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
       }
    }
    
    
/* Mobile */

@media (min-width: 320px) and (max-width: 768px) {

    .container {
        padding: 2px 6%;
    
        
    }

.banner-text h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    padding-top: 220px;
  
}



.banner-text p {
    font-size: 1rem;
    padding: 0;
    line-height: 1.5rem;
    
    
}

#banner-img {
    background-image: url(Assets/Images/mobile01.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s;
    }

    .banner-button {      
        padding: 10px 30px;
         margin-top: 15px;

         
     }
     
     .banner-button a {
         padding-bottom: 0;
         font-size: .8rem;
       
     
     }

 .my-social ul li {
  padding-top: 50px;
    padding-bottom: 45px;
  
  
}
         
    .my-social ul li a {
       
  
        font-size: 1rem;
    
    }

    .my-social ul li a:hover {
        color: #000;
      
    }

   /*about me section mobile*/

   .grid-container {
    display: block;
    padding-bottom: 40px;
    padding-top: 20px;
   }

   .about {
    display: block;
    padding: 2px 6%;
   
   }

   .about h1{
    font-size: 3rem;

 
    
   }

   .about p {
    font-size: 1rem;
    padding-left: 0;
    color: #333;
    padding-top: 5px;
    
   }
   .skills, .languages {
    padding: 2px 6%;
      }
.skills h3, .languages h3{
    padding-top: 40px;
    padding-bottom: 5px;
    letter-spacing: 0.19rem;
}
  
   .quote p {
    font-size: 1.5rem;
    padding: 19% 6%;
    
   height: 30vh;
   line-height: 2rem;

   }
  

   .desktopOnly {
    display: none;
   }
 
   .number {
    font-size: 6rem;
    padding: 2px 6%;
   }

   .grid-projects {
    display: block;
    padding: 2px 6%;
   }

   .col-1 h5 {
    font-size: 2rem;
    padding-top: 20px;
    font-weight: 600;
    letter-spacing: .09rem;
   }

.col-1 h6 {
    font-size: 1.03rem;
    font-weight: 600;
   letter-spacing: .1rem;
   color: #000;
}

   .col-1 .progress {
    font-size: .7rem;
    letter-spacing:  .09rem;
   
   }
   .col-1 .sub-title {
    font-size: .7rem;
   }
   

   .col-1 p, .col-1 ul li {
    font-size: 1rem;
    padding-top: 10px;
    line-height: 1.7rem;
    padding-bottom: 0;
    font-weight: 400;
    color: #333;
   }

   .col-2 img {
    padding-bottom: 30px;
   }
   
   .contact-form h2 {
    font-size: 1.7rem;
   }

   .contact-form h6 {
    font-size: .7rem;
    padding-top: 2px;
   }

   form {
    width: 75%;
    
}

form input{
    width: 100%;
    background-color: #fff;
    padding: 16px 10px;
    margin-bottom: 10px;
    height: 2.6rem;

    font-size: .9rem;
  
    
}



form textarea {
    font-size: 1rem;
    
}

.contact-button {
    font-size: .8rem;
    height: 2.6rem;

}

/* Mobile SOCIAL ICONS FOOTER*/


.fa-brands {
  
    font-size: 20px;
    margin: 0 10px;
    color: #333;
  
}




} 

/*Table view responsive*/

@media (min-width: 769px) and (max-width: 1024px) {
  
    .container {
        padding: 2px 6%;
    
    }

    .banner-text h2 {
        font-size: 2.8rem;     
                   
    }
    
    .banner-text p {
        font-size: 1rem;
 padding-right: 18rem;
              
    }
    
    #banner-img {
       
        background-image: url(Assets/Images/tablet.png);
        background-size:cover;
      
        background-position:center;
        transition: 0.3s;
     
        }
    
        .banner-button {      
            padding: 8px 30px;
             margin-top: 10px;
             
         }
         
         .banner-button a {
             
             font-size: 0.9rem;
             letter-spacing: .12rem;
             font-weight: 500;
           
         
         }
         .my-social ul li {
            padding-top: 140px;
         }

             
        .my-social ul li a {
        
            font-size: 1.1rem;
       
        }
    
        .my-social ul li a:hover {
            color: #000;
          
        }
    
       /*about me section tablet*/
    
       .grid-container {
        display: block;
       
       }
    
       .about {
        display: block;
        padding: 2px 6%;
       }
    
       .about h1{
        font-size: 4rem;
       }
    
       .about p {
        font-size: 1.02rem;
        padding-left: 0;
       }
       .skills, .languages {
        padding: 2px 6%;
     
       }

     .skill-type{
        margin-right: 40%;
     }
    
       .skills h3 {
        padding-top: 30px;
        font-size: 1.2rem;
        letter-spacing: 0.15rem;
       }
    
       .languages h3 {
        font-size: 1.1rem;
        padding-top: 30px;
        letter-spacing: 0.15rem;
       }
    
       .quote p {
        font-size: 1.9rem;
        padding: 15% 6%;
       height: 20vh;
       }
     
       .number {
        font-size: 9rem;
        padding: 2px 6%;;
       }
       .grid-projects {
    padding: 2px 6%;
        grid-template-columns: 120px 200px;   
      
    }    


       .col-1 h5 {
        font-size: 1.8rem;
       
       }
    
    .col-1 h6 {
        font-size: 1.05rem;
    }
    
       .col-1 .progress {
        font-size: 1rem;
       }
       .col-1 .sub-title {
        font-size: .9rem;
       }
    
       .col-1 p, .col-1 ul li {
        font-size: 1.02rem;
        padding-top: 10px;
        line-height: 1.7rem;
     
       }

       .col-1 ul li {
        padding-bottom: 30px;

       }
    
            
       .contact-form h2 {
        font-size: 1.8rem;
       }
    
       .contact-form h6 {
        font-size: .79rem;
       }
    
       form {
        width: 55%;
        
    }
    
    form input{
        width: 100%;
        background-color: #fff;
        padding: 8px 12px;
        margin-bottom: 10px;
        
    }
    
    form textarea {
        font-size: 1rem;
    }

   
    
    } 
    


